@{
    Layout = "";
}
@using Nop.Plugin.Payments.SagePayServer.Models

@model ConfigurationModel

@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{
    <table class="adminContent">
        <tr>
            <td colspan="3">
                <h2>Welcome to SagePay Server Configuration </h2>
                <p>
                    
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="3" width="100%">
                <hr />
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.TransactTypeId_OverrideForStore, model => model.TransactTypeId, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.AvailableTransactTypes):
            </td>
            <td class="adminData">
                @Html.DropDownList("TransactTypeId", Model.AvailableTransactTypes)
            </td>
            <td>
                if your Sage Pay account supports these payment types, they could be: <br />
                <strong>PAYMENT: </strong> to take the payment when a customer enters their credit card<br />
                <strong>DEFERRED: </strong> to capture the funds, but relase it later (after shipping items)<br />
                <strong>AUTHENTICATE: </strong> to validate the card but not take any money <br /><br />
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.ConnectToId_OverrideForStore, model => model.ConnectToId, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.AvailableConnectTos):
            </td>
            <td class="adminData">
                @Html.DropDownList("ConnectToId", Model.AvailableConnectTos)
            </td>
            <td>
                Set to <strong>SIMULATOR</strong> for the Simulator expert system, 
                <strong>TEST</strong> for the Test Server and <strong>LIVE</strong> in the live environment<br /><br />
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.VendorName_OverrideForStore, model => model.VendorName, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.VendorName):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.VendorName)
                @Html.ValidationMessageFor(model => model.VendorName)
            </td>
            <td>
                Set this value to the Vendor Name assigned to you by Sage Pay or chosen when you applied<br /><br />
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.AdditionalFee_OverrideForStore, model => model.AdditionalFee, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.AdditionalFee):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AdditionalFee)
                @Html.ValidationMessageFor(model => model.AdditionalFee)
            </td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.ProfileId_OverrideForStore, model => model.ProfileId, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.AvailableProfiles):
            </td>
            <td class="adminData">
                @Html.DropDownList("ProfileId", Model.AvailableProfiles)
            </td>
            <td>
                Set to <strong>NORMAL</strong> to redirect the customer to Segapay (One page checkout does not use this mode), 
                and <strong>LOW</strong> To use an iframe. <br /><br />
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.PartnerId_OverrideForStore, model => model.PartnerId, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.PartnerId):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.PartnerId)
                @Html.ValidationMessageFor(model => model.PartnerId)
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td colspan="3" width="100%">
                <input type="submit" name="save" class="t-button" value="@T("Admin.Common.Save")" />
            </td>
        </tr>
    </table>
    
}